@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Serif Georgian', 'Times New Roman', Times, serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #FFF5E1;
}

.about-image {
  transform: rotate(30deg);
}

.text-glow:hover {
  text-shadow: 0 0 10px #E63946, 0 0 20px #F1A7A3, 0 0 30px #F8D7D1;
}

.glowing-text {
  text-shadow: 0 0 10px #FFF5E1, 0 0 20px #FFD700, 0 0 30px #FF6347;
}

.masked-image {
  width: 100%;
  height: auto;
  -webkit-mask-image: url('../src/assets/utils/mask-image.png');
  /* For Safari */
  mask-image: url('../src/assets/utils/mask-image.png');
  /* Standard */
  -webkit-mask-size: cover;
  mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.scroll-container {
  overflow-y: scroll;  /* Enable vertical scrolling */
  scrollbar-gutter: stable both-edges; /* Keeps space for scrollbar */
  direction: rtl;  /* Ensures text direction remains normal */
}

.scroll-content {
  direction: ltr; /* Keeps the text direction normal */
}

/* Custom scrollbar width */
.scroll-container::-webkit-scrollbar {
  width: 10px; /* Adjust width */
}

/* Track (background of scrollbar) */
.scroll-container::-webkit-scrollbar-track {
  background: #F4E1C1; 
  border-radius: 10px; /* Rounded edges */
  border: 3px solid #FFF5E1;
}

/* Scrollbar handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #DEA646; 
  border-radius: 10px; /* Rounded edges */
}

/* Scrollbar handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #E09D2A;
  cursor: grab;
}

